[build-system]
requires = ["poetry-core>=1.5.1"]
build-backend = "poetry.core.masonry.api"

[tool]
  [tool.black]
  target-version = ["py311"]

  [tool.commitizen]
  version = "0.6.13"
  version_files = [
    "pyproject.toml:version",
    "README.md:slack-templates@"
  ]
  major_version_zero = true

  [tool.isort]
  profile = "black"

  [tool.mypy]
  disallow_any_decorated = true
  disallow_any_unimported = true
  show_column_numbers = true
  show_error_context = true
  strict = true
  pretty = true
  warn_unreachable = true

  [tool.poetry]
  name = "slack-templates"
  version = "0.6.13"
  description = "Send Informative, Concise Slack Notifications With Minimal Effort"
  authors = ["Kurt von Laven <kurt.von.laven@gmail.com>"]
  license = "MIT"

  [tool.poetry.dependencies]
  # Keep in sync with .pre-commit-config.yaml and .tool-versions.
  python = "==3.11.2"

  [tool.poetry.dev-dependencies]
  autopep8 = "==2.0.2"
  bandit = "==1.7.4"
  black = "==23.1.0"
  commitizen = "==2.42.1" # Keep in sync with .pre-commit-config.yaml.
  flake8 = "==6.0.0"
  flake8-bugbear = "==23.2.13" # Keep in sync with .mega-linter.yaml.
  isort = "==5.12.0"
  mccabe = "==0.7.0" # Keep in sync with .mega-linter.yaml.
  mypy = "==0.991"
  pre-commit = "==3.1.1"
  pycodestyle = "==2.10.0"
  pydocstyle = "==6.3.0"
  pylint = "==2.16.3"

  [tool.pylint.messages_control]
  disable = "bad-whitespace, bad-continuation"
  max-line-length = 88
