name: Notify Assignee
on:
  pull_request:
    types:
      - assigned
  workflow_call:
    secrets:
      SLACK_BOT_TOKEN:
        description: >
          The Slack API bot token for your custom app. It will be used to issue
          a notification that a pull request was assigned. The token must have
          the chat:write scope.
        required: true
      SLACK_ASSIGN_CHANNEL_ID:
        description: >
          The ID of the Slack channel to send the pull request assignment to.
          Your bot should be a member. Secondary-click on the channel in Slack,
          and select "Copy link" to copy a URL containing the channel ID.
        required: true
permissions:
  contents: read # for actions/checkout in private repositories
jobs:
  notify-assignee:
    name: Notify Assignee
    runs-on: ubuntu-22.04
    steps:
      - name: Check out slack-templates.
        uses: actions/checkout@v3.5.0
        with:
          repository: ScribeMD/slack-templates
      - name: Send Slack notification assigning pull request.
        uses: ./
        with:
          bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel-id: ${{ secrets.SLACK_ASSIGN_CHANNEL_ID }}
          template: assignee
